{% extends 'ItechSupQuestionnaireBundle::layout.html.twig'%}
{% block content %}
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#questionnaires" aria-controls="questionnaires" role="tab" data-toggle="tab">Questionnaires</a></li>
            <li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a></li>
            <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Questions</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="questionnaires">
                <table>
                    <thead>
                        <tr>
                            <th>Nom du questionnaire</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionnaire in questionnaires %}
                            <tr>
                                <td>{{questionnaire.title()}}</td>
                                <td><a href="{{path('itech_sup_gestionnaire_update_questionnaire',{'questionnaire':questionnaire.id}) }}" >Modifier</a></td>
                                <td><a href="{{path('itech_sup_gestionnaire_remove_questionnaire', {'questionnaire':questionnaire.id}) }}" >Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="categories">
                <table>
                    <thead>
                        <tr>
                            <th>Nom de la catégorie</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for categorie in categories%}
                            <tr>
                                <td>{{categorie.title()}}</td>
                                <td><a href="{{path('itech_sup_gestionnaire_update_categorie',{'categorie':categorie.id}) }}" >Modifier</a></td>
                                <td><a href="{{path('itech_sup_gestionnaire_remove_categorie', {'categorie':categorie.id}) }}" >Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="questions">
                <table>
                    <thead>
                        <tr>
                            <th>Nom de la question</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for question in questions%}
                            <tr>
                                <td>{{question.title()}}</td>
                                <td><a href="{{path('itech_sup_gestionnaire_update_question',{'question':question.id}) }}" >Modifier</a></td>
                                <td><a href="{{path('itech_sup_gestionnaire_remove_question', {'question':question.id}) }}" >Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            console.log("ok");
        })
    </script>
{% endblock %}