{% extends 'ItechSupQuestionnaireBundle::layout.html.twig'%}
{% block content %}
    {{form_start(formQuestinnaire)}}
    {% for categorie in formQuestinnaire.categories %}
        <li>{{ form_label(categorie.questions) }}</li>
            {% for question in categorie.questions %}
            <label>{{ form_label(question.reponse) }}</label>
            <div class="form_row">
                {{ form_widget(question.reponse.score) }}
                {{ form_errors(question.reponse.score) }}
            </div>
        {% endfor %}
    {% endfor %}
    <input type='submit'>
    {{form_end(formQuestinnaire)}}
{% endblock %}